* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 15px;
  margin: 0px;
}

.encabezado {
  padding: 15px;
  margin: 0px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}




.container-404{
  width: 100%;
	color: rgb(207, 59, 14);
	display: flex;
	align-items: center;
  justify-content: center;
  align-content: center;
}























/**Menú*/

.menu_bar {
  display: none;

}

header {
  width: 100%;
}


header nav {
  background: #cbcbcb;
  z-index: 1000;
  width: 100%;
  margin: 20px auto;
}

header nav ul {
  list-style: none;
  margin-left: 60px;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

header nav ul li:hover {
  background: #FF9900;
}

header nav ul li a {
  color: #5E5E5E;
  columns: #5e5e5e;
  display: block;
  text-decoration: none;
  padding: 20px;
}

header nav ul li a span {
  margin-right: 10px;
}

header nav ul li:hover .children {
  display: block;
}

header nav ul li .children {
  display: none;
  background: #CBCBCB;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

header nav ul li .children li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #5E5E5E;
}

header nav ul li .children li a {
  display: block;
}

header nav ul li .children li a span {
  float: right;
  position: relative;
  top: 3px;
  margin-right: 0;
  margin-left: 10px;
}

header nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}

@media screen and (max-width: 800px) {
  

  .menu_bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: #CBCBCB;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 10px;
    color: #5E5E5E;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu_bar span {
    float: right;
    font-size: 20px;
  }

  header nav {
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
  }

  header nav ul li {
    display: block;
    border-bottom: 1px solid #5E5E5E;
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li:hover .children {
    display: none;
  }

  header nav ul li .children {
    width: 100%;
    position: relative;
  }

  header nav ul li .children li a {
    color: #5E5E5E;
    margin-left: 20px;
  }

  header nav ul li .caret {
    float: right;
  }
}
































/**Banner*/
.banner-contenedor {
  padding-bottom: 30px;
}

.swiper-container {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .imgBx {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.swiper-slide .imgBx img {
  align-content: center;
  width: 100%;
  height: 400px;
}

.carousel-caption {
  float: left;
  margin-left: -15%;
  width: 25%;
  background-color: #fff;
  opacity: 0.9;
}

.carousel-caption p {
  font-size: 12px;
  text-align: center;
  color: rgb(17, 17, 17);
  margin: 5px;
}

























/*Redes sociales*/

.contenedorSocial{
  width: 5px;
  height: 5px;
}
ul.social{
  z-index: 100;
  margin-right: 0;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  position: fixed;
}
li.social{
  position: relative;
  transform: translateX(-130px);
  background: #FF9900;
  list-style: none;
  padding: 10px 0;
  margin:6px 0 ;
  transition: .5s;
  width: 150px;
  border-radius: 0 10px 10px 0;
}
li.social:hover:nth-child(1){
  background: #969dbe;
}
li.social:hover:nth-child(2){
  background: #47b6f5;
}
li.social:hover:nth-child(3){
  background: #240e86;
}

li.social:hover{
  transform: translateX(0);
}
a.social{
  font-weight: bold;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  padding-left: 10px;
}

.icon{
  font-size: 20px;

}
.gmail{
  position: relative;
  left: 30px;
}
.twitter{
  position: relative;
  left: 23px; 
}
.facebook{
  position: relative;
  left: 16px; 
}



















/**Div general, cuerpo del sitio web*/



.general {
  width: 60%;
  margin: 5%;
  float: left;
  margin-top: 0;
}

.contenedor-section {
  width: 99%;
  text-align: justify;
  float: left;
  margin: 5px;
}

.contenedor-section img {
  width: 40%;
  margin-right: 3%;
}

.contenedor-section P {
  margin-top: 2%;
  margin-right: 3%;
  color: #5E5E5E;
}

aside {
  width: 24%;
  float: right;
  margin-top: 0;
  margin-right: 2%;
}

.cont1 {
  width: 99%;
  text-align: left;
  float: left;
  margin: 2px;
  margin-bottom: 5px;
}

.cont1 a {
  color: black;
}

.cont1 img {
  width: 90%;
  height: 50%;

}

.cont1 iframe {
  width: 90%;
  height: 300PX;
}































/**footer*/
footer {
  background: #CBCBCB;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  clear: both;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 10px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: rgb(17, 17, 17);
  border-bottom: 3px solid #FF9900;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: rgb(17, 17, 17);
}

.final {
  background: #ffffff;
}

.titulo-final {
  text-align: center;
  font-size: 13px;
  margin: 20px 0 0 0;
  color: #5e5e5e;
}












































/**RESPOSIVE*/




@media screen and (max-width: 900px) {

  /*Banner - Texto*/
  .carousel-caption {
    float: left;
    margin-left: -10%;
    width: 46%;
    background-color: #fff;
    opacity: 0.9;
  }


  .cont1 iframe {
    height: 200px;
  }


  /*footer*/

  .contenedor-footer {
    flex-direction: column;

  }

  .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }

  .content-foo h4 {
    border-bottom: none;
  }

  .content-foo p {
    color: rgb(17, 17, 17);
    ;
    border-bottom: 1px solid #FF9900;
    padding-bottom: 20px;
  }
}




@media screen and (max-width: 781px) {

  /*Banner - Texto*/
  .carousel-caption {
    float: left;
    margin-left: -10%;
    width: 50%;
    background-color: #fff;
    opacity: 0.9;
  }

  .cont1 iframe {
    height: 180px;
  }


  .contenedor-section img {
    width: 55%;
    margin-right: 3%;
  }

  .contenedor-section h2 {
    font-size: 27px;
  }

  /*footer*/

  .contenedor-footer {
    flex-direction: column;
    border: none;
  }

  .content-foo {
    margin-bottom: 10px;
    text-align: center;
  }

  .content-foo h4 {
    border-bottom: none;
  }

  .content-foo p {
    color: rgb(17, 17, 17);
    ;
    border-bottom: 1px solid #FF9900;
    padding-bottom: 20px;
  }

  .titulo-final {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {

  .cont1 iframe {
    height: 180px;
  }


  .contenedor-section img {
    width: 60%;
    margin-right: 3%;
  }

  .contenedor-section h2 {
    font-size: 23px;
    text-align: left;
  }


}


@media screen and (max-width: 500px) {

  /*Banner - Texto*/
  .carousel-caption {
    float: left;
    margin-left: -10%;
    width: 90%;
    background-color: #fff;
    opacity: 0.9;
  }


  .contenedor-section img {
    width: 99%;
    margin-right: 3%;
  }

  .contenedor-section h2 {
    font-size: 22px;
  }

  /*footer*/

  .contenedor-footer {
    flex-direction: column;
    border: none;
  }

  .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }

  .content-foo h4 {
    border-bottom: none;
  }

  .content-foo p {
    color: rgb(17, 17, 17);
    ;
    border-bottom: 1px solid #FF9900;
    padding-bottom: 20px;
  }

  .titulo-final {
    font-size: 8px;
  }
}








/*  funcionarios*/
/**Div general, cuerpo del sitio web*/



.funcionarios {
  width: 90%;
  margin: 5%;
  margin-top: 1%;
  float: left;
}

h2{
  text-align: left;
}


.contenedor-section-funcionarios {
  margin-top: 3%;
  width: 90%;
  margin-left: 5%;
  margin-right: 1%;
  background-color: #67971A;
  height: 210px;
}


.contenedor-section-funcionarios img {
 margin-top: .8%;
  margin-left: 3%;
  height:90% ;
  height: 90%;
  margin-right: 3%;
}

h4{
  text-align: center;
  color: #434343;
}
.contenedor-section-funcionarios P {
  margin-top: 2%;
  margin-right: 8%;
  margin-left:8% ;
  text-align: center;
  color: #fff;
  font-size: 12px;
}






@media screen and (max-width: 781px) {

  
  .contenedor-section-funcionarios h2 {
    font-size: 27px;
  }


  .contenedor-section-funcionarios {
    height: 260px;
  }
  .contenedor-section-funcionarios img {
    margin-top: 10px;
   }

  
}


@media screen and (max-width: 600px) {

  .contenedor-section-funcionarios h2 {
    font-size: 23px;
  }

  .contenedor-section-funcionarios {
    height: 320px;
  }
  .contenedor-section-funcionarios img {
    width: 30%;
    height: 79%;
    margin-top: 8%;
   }


}


@media screen and (max-width: 500px) {

  .contenedor-section-funcionarios h2 {
    font-size: 22px;
  }


  .contenedor-section-funcionarios {
    height: 320px;
 
  }
  .contenedor-section-funcionarios img {
    width: 30%;
    height: 60%;
    margin-top: 8%;
   }

   .contenedor-section-funcionarios p {
    text-align: left;
   }
   .contenedor-section-funcionarios h4 {
    text-align: left;
   }



}


@media screen and (max-width: 440px) {

  .contenedor-section-funcionarios h2 {
    font-size: 22px;
  }


  .contenedor-section-funcionarios {
    height: 390px;
 
  }
  .contenedor-section-funcionarios img {
    width: 40%;
    height: 60%;
    margin-top: 8%;
   }

   .contenedor-section-funcionarios p {
    text-align: left;
   }
   .contenedor-section-funcionarios h4 {
    text-align: left;
   }

}


@media screen and (max-width: 360px) {

  .contenedor-section-funcionarios h2 {
    font-size: 22px;
  }


  .contenedor-section-funcionarios {
    height: 400px;
 
  }
  .contenedor-section-funcionarios img {
    width: 30%;
    height: 60%;
    margin-top: 8%;
   }

   .contenedor-section-funcionarios p {
    text-align: left;
   }
   .contenedor-section-funcionarios h4 {
    text-align: left;
   }

}


  @media screen and (max-width: 320px) {

    .contenedor-section-funcionarios h2 {
      font-size: 22px;
    }
  
  
    .contenedor-section-funcionarios {
      height: 430px;
   
    }
    .contenedor-section-funcionarios img {
      width: 40%;
      height: 40%;
      margin-top: 8%;
     }
  
     .contenedor-section-funcionarios p {
      text-align: left;
     }
     .contenedor-section-funcionarios h4 {
      text-align: left;
     }
  
  }














  /**CONTACTENOS*/



.contactenos {
  width: 90%;
  margin: 5%;
  margin-top: 1%;
  float: left;
}

.contactenos h2{
  text-align: center;
}

.contactenos h3{
  margin-top: 3%;
  text-align: center;
  color: #FF9900;
  font-size: 14px;
}

.contactenos h5{
  text-align: center;
  color: #5e5e5e;
  font-size: 10px;
}


.contenedor-section-contactenos {
  margin-top: 5%;
  width: 48%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

*:focus {
  outline: none;
}
.contenedor-section-contactenos form{
width: 100%;
justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.form_hint, .required_notification {
  font-size: 11px;
}

/* === List Styles === */
.contact_form ul {
  width: 99%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.contact_form li {
  padding: 12px;
  position: relative;
}

/* === Form Header === */


.required_notification {
  color: #d45252;
  margin: 5px 0 0 0;
  display: inline;
  float: right;
}

/* === Form Elements === */

.contact_form input {
  display: inline-block;
	width: 80%;
	padding: 3px 8px;
	border: none;
	font-family:'open sans';
	background: #f2f2f2;
	border-top: 3px solid rgba(255,255,255,0.7);
}

.contact_form textarea {
  display:block;
	width: 80%;
	max-width: 100%;
	max-height: 200px;
	min-height: 200px;
	background: #f2f2f2;
	padding: 13px;
	border: none;
	font-family: 'open sans';
}

.contact_form button {
  display: inline-block;
	padding: 9px;
	width: 100px;
}

/* form element visual styles */
.contact_form input, .contact_form textarea {
  border: 1px solid #aaa;
  border-radius: 2px;
}


  /* === HTML5 validation styles === */
  .contact_form input:required, .contact_form textarea:required {
      background: #fff no-repeat 98% center;
  }

      .contact_form input:required:valid, .contact_form textarea:required:valid {
          background: #fff no-repeat 98% center;
          box-shadow: 0 0 5px #5cd053;
          border-color: #28921f;
      }

  .contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
      background: #fff  no-repeat 98% center;
      box-shadow: 0 0 5px #d45252;
      border-color: #b03535;
  }

/* === Form hints === */
.form_hint {
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin-left: 8px;
  padding: 1px 6px;
  position: absolute; 
  display: none;
}

  .form_hint::before {
      content: "\25C0";
      color: #d45252;
      position: absolute;
      top: 1px;
      left: -6px;
  }

.contact_form input:focus + .form_hint {
  display: inline;
}

.contact_form input:required:valid + .form_hint {
  background: #28921f;
}

  .contact_form input:required:valid + .form_hint::before {
      color: #28921f;
  }



  .contact_form textarea:focus + .form_hint {
    display: inline;
  }
  
  .contact_form textarea:required:valid + .form_hint {
    background: #28921f;
  }
  
    .contact_form textarea:required:valid + .form_hint::before {
        color: #28921f;
    }

  

/* === Button Style === */
button.submit,  button.reset{
  background-color: #FF9900;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#FF9900));
  background: -webkit-linear-gradient(top, #ff9900a6, #FF9900);
  background: -moz-linear-gradient(top, #ff9900a6, #FF9900);
  background: -ms-linear-gradient(top, #ff9900a6, #FF9900);
  background: -o-linear-gradient(top, #ff9900a6, #FF9900);
  background: linear-gradient(top, #ff9900a6, #FF9900);
  border: 1px solid #ff9900a6;
  border-bottom: 1px solid #ff9900a6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #ff9900a6;
  -webkit-box-shadow: 0 1px 0 0 #ff9900a6 inset;
  -moz-box-shadow: 0 1px 0 0 #ff9900a6 inset;
  -ms-box-shadow: 0 1px 0 0 #ff9900a6 inset;
  -o-box-shadow: 0 1px 0 0 #ff9900a6 inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #FF9900;
}

  button.submit:hover, button.reset:hover {
      opacity: .6;
      cursor: pointer;
  }

  button.submit:active, button.reset:active {
      border: 1px solid #FF9900;
      box-shadow: 0 0 10px 5px #FF9900 inset;
      -webkit-box-shadow: 0 0 10px 5px #FF9900 inset;
      -moz-box-shadow: 0 0 10px 5px #FF9900 inset;
      -ms-box-shadow: 0 0 10px 5px #FF9900 inset;
      -o-box-shadow: 0 0 10px 5px #FF9900 inset;
  }

.contenedor-section-contactenos iframe{
    margin-top: 8%;
    align-items: center;
    width: 90%;
    height: 300px;
    border: 0;
}

.contactenos h6{
  text-align: right;
  font-size: 8px;
  width: 90%;
}

  

/**RESPOSIVE*/

@media screen and (max-width: 781px) {
  
  .contenedor-section-contactenos h2 {
    font-size: 27px;
  }

  .contenedor-section-contactenos {
    margin-top: 5%;
    width: 100%;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
  }

  .contenedor-section-contactenos .contact_form{
    margin-left: 5%;
  }

}

@media screen and (max-width: 600px) {

  .contenedor-section-contactenos h2 {
    font-size: 23px;
  }
}

@media screen and (max-width: 500px) {

  .contenedor-section-contactenos h2 {
    font-size: 22px;
  }
}











/**NOSOTROS*/



.nosotros {
  width: 90%;
  margin: 5%;
  margin-top: 1%;
  float: center;
}

.contenedor-section-nosotros {
  margin-top: 2%;
 margin-left: 10%;
  width: 80%;
}

.contenedor-section-nosotros img {
  width: 45%;
 display: block;
 margin-left: auto;
 margin-right: auto;
  
}

.contenedor-section-nosotros P {
  margin-top: 2%;
  margin-right: 3%;
  color: #5E5E5E;
  text-align: center;
}
h2{
  margin-top: 0;
  text-align: center;
}


/*responsive*/
@media screen and (max-width: 600px) {

  .cont1 iframe {
    height: 180px;
  }


  .contenedor-section-nosotros img {
    width: 60%;
  }

  .contenedor-section-nosotros h2 {
    font-size: 23px;
  }


}


@media screen and (max-width: 500px) {

  .contenedor-section-nosotros img {
    width: 99%;
  }

  .contenedor-section-nosotros h2 {
    font-size: 22px;
  }

  
}










/**NORMATIVIDAD*/



.normatividad {
  width: 90%;
  margin: 5%;
  margin-top: 1%;
  float: left;
}

.normatividad h2{
  text-align: left;
  margin-top: 2%;
  margin-left: 3%;
  
}

.contenedor-section-normatividad {
  margin-top: 3%;
  margin-left: 3%;
  width: 90%;
  border-bottom: 1px solid #CBCBCB;
  margin-bottom: 2%;
}

.contenedor-section-normatividad P {
  margin-right: 3%;
  color: #5E5E5E;
  text-align: left;
}

.contenedor-section-normatividad a{
  font-size: 12px;
  color: #67971A;
}

.contenedor-section-normatividad h3{
  color: #FC0D1B;
}


@media screen and (max-width: 781px) {

  
  .contenedor-section-normatividad h2 {
    font-size: 27px;
  }

 
  
}


@media screen and (max-width: 600px) {

  .contenedor-section-normatividad h2 {
    font-size: 23px;
  }


}


@media screen and (max-width: 500px) {

  .contenedor-section-normatividad h2 {
    font-size: 22px;
  }

 
}






/*GALERIA*/

.galeria {
  width: 90%;
  margin: 5%;
  margin-top: 1%;
  float: left;
}

.galeria h2{
  text-align: left;
  
}

.contenedor-section-galeria {
  margin-left: 2%;
  margin-top: 1%;
  width: 27%;
  
  
  border-bottom: 1px solid #CBCBCB;
  border-left: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  margin-right: 4%;
  margin-bottom: 1%;
  float: left;
}

.contenedor-section-galeria img{

  width: 100%;
  height: 250px;
  margin-bottom: 1%;
  float: center;
}

.contenedor-section-galeria embed{

  width: 100%;
  height: 250px;
  margin-bottom: 1%;
  float: center;
}

.galeria p{
  text-align: justify;
}




/**RESPOSIVE*/




@media screen and (max-width: 900px) {
  .contenedor-section-galeria img{

    height: 200px;
  }
 
}




@media screen and (max-width: 781px) {

  
  .contenedor-section-galeria h2 {
    font-size: 27px;
  }

    
  .contenedor-section-galeria h3 {
    font-size: 20px;
  }

  .contenedor-section-galeria img{

    width: 100%;
    height: 170px;
    margin-bottom: 1%;
    float: center;
  }
  
  .galeria p{
    text-align: justify;
    font-size: 12px;
  }

}


@media screen and (max-width: 600px) {

  .contenedor-section-galeria h2 {
    font-size: 23px;
  }

  .contenedor-section-galeria {
   
    width: 43%;
    
  }
  


}


@media screen and (max-width: 500px) {

  .contenedor-section-galeria h2 {
    font-size: 22px;
  }
  .contenedor-section-galeria {
   
    width: 99%;
    
  }

  .contenedor-section-galeria img{

    height: 250px;
  }
 
}

